{% extends "main/header.html" %}

{% block content %}
    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" type="text/css" href="{%static 'css/memory.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="game-containerM">
    <div class="headM">
        <h2>Memory game </h2>
        <div class="score">Score: <span>0</span></div>
    </div>
    <div class="containerM">
        <div class="cell">
            <div class="front" data-index="1"><img src="/media/img/c++.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="1"><img src="/media/img/c++.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2"><img src="/media/img/python.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2"><img src="/media/img/python.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3"><img src="/media/img/html.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3"><img src="/media/img/html.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4"><img src="/media/img/javascript.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4"><img src="/media/img/javascript.png" alt=""></div>
            <div class="back"></div>
        </div>
    </div>
</div>

     <script src="{%static 'js/memory.js' %}"></script>
</body>
</html>

{% endblock %}